tests/conformance/relaxng/jamesclark/369/c.rng

<?xml version="1.0" encoding="utf-8"?>
<element xmlns="http://relaxng.org/ns/structure/1.0" name="foo">
  <interleave>
    <choice>
      <element name="bar">
	<empty/>
      </element>
      <element name="bar">
	<text/>
      </element>
    </choice>
    <element name="baz">
      <empty/>
    </element>
  </interleave>
</element>
